
.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 13px;
}
.item a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 7px;
}

.item a.active{
    font-weight: bold;
    color: gold;
}