.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogs_item {
    padding: 13px;
}

.dialog {
    padding: 7px;
}

.dialog a {
    display: flex;
    align-items: center;
}

.dialog img {
    width: 50px;
    height: 50px;
    border-radius: 99px;
    margin-right: 10px;
}

.dialog.active {
    color: gold;
}

.messages {
    padding: 13px;
}

.message {
     padding: 7px;
 }

.question{
    display: none;
}